
/*! MODO OSCURO */

body.darkmode > main > .texto > p > span {
    color: var(--turqueza);
}

/*! Para el TEXTO PRINCIPAL*/

.texto {
    position: relative;
}

.texto > p {
    font-family: 'Righteous', sans-serif;
    font-size: 66px;
    line-height: 90px;
    /*Separación entre lineas*/

    /* position: absolute;
    left: 100px;
    top: 50px; */
    margin-top: 31.5px;
    margin-bottom: 31.5px;
    margin-left: 100px;
    top: 170px;
}

.texto > p > span {
    color: var(--rosado);
}


/*TODO: Entre 425px y 578px */
@media screen and (min-width: 425px) and (max-width: 578px) {

    .texto > p {
        line-height: 60px;
        font-size: 50px;

        margin-left: 80px;
    }

}