<nav>
    <li><a href="https://www.linkedin.com/in/luisfelipe1/" target="__blank" alt="Linkedin"><img src="../../img/iconos/linkedin/linkedin.svg" alt="Linkedin"></a></li>
    <li><a href="https://github.com/FSIce1" target="__blank" ><img src="../../img/iconos/github/github.svg" alt="Github"></a></li>
    <li><a href="https://www.facebook.com/felipe.siesquenvaldivia/" target="__blank" ><img class="ima" src="../../img/iconos/facebook/facebook.svg" alt="Facebook"></a></li>
    <li><a href="https://www.instagram.com/luisfsv1/" target="__blank" ><img src="../../img/iconos/instagram/instagram.svg" alt="Isntagram"></a></li>
    <li><a href="https://twitter.com/SiesquenFelipe" target="__blank" ><img src="../../img/iconos/twitter/twitter.svg" alt="Twitter"></a></li>
    <li><a href="https://www.pinterest.es/lsiesquenvaldivia/_saved/" target="__blank" ><img src="../../img/iconos/pinterest/pinterest.svg" alt="Pinterest"></a></li>
    <li><a href="https://www.youtube.com/channel/UCf-S9k1J8BQ5oMJWx4asz0w" target="__blank" ><img src="../../img/iconos/youtube/youtube.svg" alt="Youtube"></a></li>
</nav>