
body.darkmode > main > .container > .tema > .tema__informacion > h3 {
    color: var(--turqueza);
}

body.darkmode > main > .container > .tema > .tema__informacion > p {
    color: var(--blanco);
}

body.darkmode > main > .container > .articulos > .articulo:hover {
    background-color: #6fffff;
}

body.darkmode > main > .container > .articulos > .articulo:hover > .articulo__info > h3 {
    color: var(--negro);
}

body.darkmode > main > .container > .articulos > .articulo:hover > .articulo__info > span {
    color: var(--negro);
}

body.darkmode > main > .container > .articulos > .articulo > .articulo__info > h3 {
    color: var(--blanco);
}

body.darkmode > main > .container > .articulos > .articulo > .articulo__info > span {
    color: var(--blanco);
}



.container {
    position: relative;

    display: flex;
    flex-direction: column;

    margin: 30px 100px 30px 100px;

    color: var(--negro);
}

a {
    color: var(--negro);
}

.tema {
    display: flex;

    flex-direction: row;
    align-items: center;

    margin-bottom: 40px;
}

.tema > img {
    width: 100px;
    height: 100px;
    padding: 1em;

}

.tema__informacion > h3 {
    
    font-size: 40px;
    font-family: 'Righteous';

    padding: 2.5px;
    
    color: var(--rosado); 
}

.tema__informacion > p {
    max-width: 70%;
    padding: 2.5px;
    text-align: justify;

    font-family: 'Merriweather';
}


/*? Para los Artículos*/

.articulos {
    display: flex;
    /* flex-direction: row; */

    flex-wrap:wrap;
    /* justify-content: space-between; */
}

.articulo {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 12px;
    margin: 10px;

    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
}

.articulo:hover {
    background: #ff5b7d;
}

.articulo:hover > .articulo__info > h3{
    color: var(--blanco);
}

.articulo:hover > .articulo__info > span{
    color: var(--blanco);
}

.articulo > img {
    width: 32px;
    height: 32px;
}

.articulo__info {
    margin-left: 10px;
}

.articulo__info > h3 {
    font-size: 18px;
    font-family: 'Merriweather';
}

.articulo__info > span {
    font-size: 14px;
    font-family: 'Merriweather';
}



/*TODO: Entre 768px y 1023x */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container {
        width: 80%;
    }
    
}

/*TODO: Entre 425px y 578px */
@media screen and (min-width: 425px) and (max-width: 578px) {

    .container {
        width: 100%;
        box-sizing: border-box;

        margin: 0;
        padding: 30px 30px 0px 70px;
    }

    
    .tema__informacion > p {
        max-width: 100%;
        padding: 2.5px;
        text-align: justify;

        font-family: 'Merriweather';
    }

}