
body.darkmode > .body > main > .container > .container__articulo > .tema > .tema__informacion > h3 {
    color: var(--turqueza);
}

body.darkmode > .body > main > .container > .container__articulo > .tema > .tema__informacion > span {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > p {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > section > .articulos-relacionados > a > h3 {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > section > .articulos-relacionados > a > span  {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > ul > li {
    color: var(--turqueza);
}

body.darkmode > .body > main > .container > .container__articulo > #ejemplo_ancho {
    color: var(--blanco);
    
    border: solid var(--turqueza);
    border-top-width: 20px;
    border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin;
}

body.darkmode > .body > main > .container > .container__articulo > ul > li > strong {
    color: var(--turqueza);
}

body.darkmode > .body > main > .container > .container__articulo > ul > li > p {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > h3 {
    color: var(--turqueza);
}

body.darkmode > .body > main > .container > .container__articulo > .ejemplo {
    background-color: var(--turqueza) !important;
}

body.darkmode > .body > main > .container > .container__articulo > .caja {
    background-color: var(--turqueza) !important;
}

body.darkmode > .body > main > .container > .container__articulo > ul > * {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > .tabla th {
    background-color: var(--turqueza);
    color: var(--negro);
}

body.darkmode > .body > main > .container > .container__articulo > .tabla_ejemplo {
    border: 1px solid var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > .tabla_ejemplo td {
    border: 1px solid var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > .tabla_ejemplo th {
    border: 1px solid var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > .tabla_ejemplo tr {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > .tabla td {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > .tabla tr {
    background-color: var(--negro);
}

body.darkmode > .body > main > .container > .container__articulo > .tabla tr:hover {
    background-color: #464751;
}

body.darkmode > .body > main > .container > .container__articulo > .nota {
    border-left: 6px solid var(--turqueza);
}

body.darkmode > .body > main > .container > .container__articulo > .caja_transition {
    background: var(--turqueza);
}

body.darkmode > .body > main > .container > .container__articulo > .ejemplo_transition .caja_transition {
    background: var(--turqueza);
}

body.darkmode > .body > main > .container > .container__articulo > .container__articulo-imagen > picture > .figure {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > label {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > .container__articulo > pre.nota {
    border-left: 6px solid #005282;
}

body.darkmode > .body > main > .container > section > .articulos-relacionados > a > h3 {
    color: var(--turquezaBajo);
}

body.darkmode > .body > main > .container > section > .articulos-relacionados > a > h3:hover {
    color: var(--turqueza);
}

body.darkmode > .body > main > .container > section > .articulos-relacionados > a > p {
    color: var(--blanco);
}

body.darkmode > .body > main > .container > section > p {
    color: var(--turqueza);
}



.body {
    display: flex;
}

main {
    width: 900px;
}

.container {
    position: relative;

    display: flex;
    flex-direction: column;

    margin: 30px 70px 30px 100px;

    color: var(--negro);
}

.tema {
    display: flex;

    flex-direction: row;
    align-items: center;

    margin-bottom: 30px;
}

.tema > img {
    width: 100px;
    height: 100px;
    padding: 1em;
}

.tema__informacion > h3 {
    
    font-size: 40px;
    font-family: 'Righteous';

    padding: 2.5px;
    
    color: var(--rosado); 
}

.tema__informacion > p {
    max-width: 70%;
    padding: 2.5px;
    text-align: justify;

    font-family: 'Merriweather';
}

.container__articulo > p {
    max-width: 100%;
    text-align: justify;

    font-family: 'Merriweather';

    line-height: 25px;
}


/*? Section*/
section {
    margin-top: 40px;
}

section > p {
    margin-bottom: 20px;
    color: var(--rosado);
}

.articulo {
    color: var(--negro);
}

.articulos-relacionados {
    display: flex;
    flex-direction: row;
}

.articulos-relacionados > a{
    
    width: 200px;
    height: auto;

    font-size: 18px;
    font-family: 'Merriweather';
    text-align: center;
    
    text-decoration: none;
    
    padding: 5px 5px 5px 0;
    margin-right: 20px;

    color: var(--negro);
}


.articulos-relacionados > a > img{
    width: 64px;
    height: 64px;
}

.articulos-relacionados > a > h3 {
    font-size: 20px;
    font-family: 'Righteous';
    margin: 5px 0px 15px 0px;

    color: var(--rosadoBajo);
}

.articulos-relacionados > a > h3:hover {
    transition: all 0.4s;
    color: var(--rosado);
}

.articulos-relacionados > a > p{
    max-width: 150px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Merriweather';
    font-size: 16px;

    line-height: 20px;
}

li {
    color: var(--rosado);
}

li > p {
    color: var(--negro);  
}

.comentario {
    color: #999997;
}

.nota {
    background-color: #ddeaff;
    border-left: 6px solid var(--rosado);
    margin: 30px 0 30px 0;
    /* margin-block: 30px; */
    padding: 12px;
}

.nota > p { 
    font-family: 'Merriweather';
    font-size: 16px;

    line-height: 20px;
    text-align: justify;
}

.container__articulo-imagen {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 40px 0px;
}

.container__articulo > ul {
    margin-left: 20px;
}

.container__articulo > ul > li {
    margin-block: 20px;
}

.container__articulo > ul > li > strong {
    font-size: 20px;
}

.container__articulo > ul > li > p {
    
    font-family: 'Merriweather';
    font-size: 16px;

    line-height: 20px;
    margin-block: 5px;

    text-align: justify;
}

.container__articulo-imagen img {
    width: 400px; 
    height:150px;
}

.container__articulo-imagen .imagen_tipo_1 {
    width: 350px; 
    height:300px;
}

.container__articulo-imagen .imagen_tipo_2 {
    width: 300px; 
    height:250px;
}

.container__articulo-imagen .imagen_tipo_3 { 
    width: 450px; 
    height: 300px;
}

.container__articulo-imagen .imagen_tipo_4 { 
    width: 400px; 
    height: 300px;
}

.container__articulo-imagen .imagen_tipo_5 { 
    width: 600px; 
    height: 100px;
}

.container__articulo-imagen .imagen_tipo_6 { 
    width: 450px; 
    height: 170px;
}

.container__articulo-imagen .imagen_tipo_7 { 
    width: 450px; 
    height: 170px;
}

.container__articulo > h3 {
    color: var(--rosado);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Righteous';

    margin: 40px 0 20px 0;
}

.figure {
    font-family: 'Righteous';
    font-size: 14px;
    color: var(--negro);
}

pre.nota {
    background-color: #F4F4F4;
    border-left: 6px solid #005282;
}

.tabla {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;

    margin-block: 20px;
}

.tabla td, .tabla th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabla tr:hover {
    background-color: #ddd;
}

.tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--rosado);
    color: var(--blanco);
}

.propiedad {
    color: #4E9AE0;
}

.selector {
    color: #FCC927;
}

.valor {
    color: #B24A39;
}

.px {
    color: #A193E3;
}

.rosado {
    color: var(--rosado);
}

.turqueza {
    color: var(--turqueza);
}

.enlace {
    color: #8AC400;
}

#ejemplo_ancho {
    border: solid var(--rosado);
    margin: 50px;
}

#ejemplo_ancho {  
    border-top-width: 20px;
    border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin;
}

.caja {
    width: 150px;
    height: 30px;
    margin-block: 10px;

    margin-inline: auto;
    text-align: center;
    font-size: 18px;
}


.tabla_ejemplo {
    width: 250px;
    border: 1px solid #000;
}

.tabla_ejemplo th, .tabla_ejemplo td {
    border: 1px solid #000;
}

.colapsa {
    border-collapse: collapse;
}

.espacio {
    border-spacing: 5px;
}

.celda {
    empty-cells: hide;
}

.caption {
    caption-side: top;
}

.lista_ejemplo li {
    color: var(--negro);
}

.margen_50 {
    margin-left: 50px;
}

ul.margen_50 {
    padding-left: 50px;
}

/*? Artículo Flex */

.ejemplo {
    display: flex; 
    flex-direction: row;
}

.ejemplo2 {
    display: flex; 
    flex-direction: row;
}

.caja_flex {
    background: lightgreen; 
    width: 70px; 
    height: 70px;
    margin-right: 10px;
    margin-block: 10px;
    text-align: center;
}


.caja_flex2 {
    background: lightgreen; 
    height: 100px; 
    width: 300px;
    text-align: center;
}

.caja_flex3 {
    background: lightgreen; 
    height: 50px; 
    width: 50px;
    text-align: center;
}

.caja_flex4, .caja_flex4_2, .caja_flex4_3 {
    background: lightgreen; 
    text-align: center;
    margin-right: 2px;
    width: 25px;
}

.caja_flex4_3 {
    height: 40px;
    font-size: 150%;
}

.caja_flex4 { 
    height: 25px; 
}

.caja_flex5, .caja_flex6 {
    background: lightgreen; 
    
    text-align: center;

    font-size: 14px;
    margin-right: 2px;
}

.caja_flex5 {
    height: 25px; 
    width: 50px;    
}

.caja_ej {
    width: 100%;
    max-width: 300px;
    background-color: lightcoral;
}

.grow {
    flex-grow: 1;
}

.enlace_ul {
    color: blue;
    text-decoration: none;
}



/*? Artículo Filtros */

.etiqueta {
    font-size: 10px;
    padding: 5px;
    border-radius: 7px;
    color: var(--blanco);

    display: inline-flex;
    flex-wrap: wrap;
}

.porcentaje {
    background-color:#299992;
}

.size {
    background-color: #8ac149;
}

.direccion {
    background-color: #ffc107;
}

.posx {
    background-color: #f44335;
}

.posy {
    background-color: #d81b60;
}

.color {
    background-color: #3f50b5;
}

.ejemplo_filtros {
    display: inline-flex;
    /*Ver*/
    justify-content: center;

    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: space-around; */
    width: auto;
}

.centra_imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja_filtro {
    width: 160px;
    height: 200px;
    margin-right: 5px;
    margin-bottom: 5px;
    /* background-color: #299992;  */
}

.caja_filtro:hover {
    background-color: #299992;
}

.caja_filtro img {
    width: 150px;
    height: 150px;
}

picture span, .te {
    margin: 5px 2px;
    font-family: 'Righteous';
    font-size: 14px;
    color: var(--blanco);
    text-align: center;
}

.celda_centrada {
    text-align: center;
}

body.darkmode > .body > main > .container > .container__articulo > .ejemplo_filtros > .caja_filtro:hover {
    background-color: #d81b60;
}


/*? Artículo Responsive Design*/

@media screen and (max-width: 640px) { /*? Menos de 640px*/
    .caja_responsive {
        background: blue;
    }   
}

@media screen and (min-width: 640px) and (max-width: 800px) {
    .caja_responsive {
        background: red;
    }
}

@media screen and (min-width: 800px) { /*? 800px para adelante */
    .caja_responsive {
        background: green;
    }
}

.note {
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px
}

.azul {
    background-color: blue;
}

.amarillo {
    background-color: lawngreen;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}


/*? Artículo de animaciones*/

.caja_transform {
    overflow: hidden;
    border: 2px lightgray solid;
}

.matrix {
    transform: matrix(1, 2, 3, 4, 5, 6);
}

.translate {
    transform: translate(120px, 50%);
}

.scale {
    transform: scale(2, 0.5);
}

.rotate {
    transform: rotate(0.5turn);
}

.skew {
    transform: skew(30deg, 20deg);
}

.scale_translate {
    transform: scale(0.5) translate(-100%, -100%);
}

.caja_transition {
    width: 100px;
    height: 100px;
    background: var(--rosado);
    margin: 10px 0px 10px 50px;

    transition: width 2s;
}

.linear {
    transition-timing-function: linear;
}

.ease {
    transition-timing-function: ease;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.caja_transition:hover {
    width: 300px;
}

.delay {
    transition-delay: 1s;
}

.ambos {
    transition: width 2s, height 2s, transform 2s;
}

.ambos:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg)
}

.body {
    display: flex;
    justify-content: space-between;
}

/*TODO: Entre 1024px y 1200px */
@media screen and (min-width: 1024px) and (max-width: 1200px) {

    main {
        width: 650px;
    }

    /*? Para el artículo flex*/
    .ejemplo2 {
        display: flex;
        flex-direction:column;
    }
}

/*TODO: Entre 768px y 1023x */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    main {
        width: 100%;
    }

    .body {
        display: flex;
        flex-direction:column;
    }

}

/*TODO: Entre 425px y 578px */
@media screen and (min-width: 425px) and (max-width: 578px) {

    main {
        width: 100%;
    }

    .body {
        display: flex;
        flex-direction:column;
    }

    .container {
        width: 100%;
        box-sizing: border-box;

        margin: 0;
        padding: 30px 30px 30px 70px;
    }


    .tema__informacion > h3 {
        font-size: 24px;
    }
    
    .tema__informacion > span {
        font-size: 14px;
    }

    .container__articulo > h3 {
        margin-top: 30px;
    }

    .container__articulo > p {
        font-size: 14px;
    }

    .container__articulo > ul > li > strong {
        font-size: 16px;
    }
    
    .container__articulo > ul > li > p {
        font-size: 12px;
    }

    .articulos-relacionados > a {
        margin-right: 0;
    }

    .articulos-relacionados > a > h3 {
        font-size: 16px;
    }

    .articulos-relacionados > a > p{
        font-size: 12px;
    }

    .nota > p { 
        font-size: 12px;
    }
    
    .nota > p > strong { 
        font-size: 12px;
    }

    .container__articulo-imagen > img {
        width: 300px; 
        height:100px;
    }

    .container__articulo-imagen .imagen_tipo_1 {
        width: 250px; 
        height: 200px;
    }
    
    .container__articulo-imagen .imagen_tipo_3 { 
        width: 270px; 
        height: 170px;
    }

    .container__articulo-imagen .imagen_tipo_4 { 
        width: 300px; 
        height: 200px;
    }

    .container__articulo-imagen .imagen_tipo_6 { 
        width: 320px; 
        height: 120px;
    }
    
    .container__articulo-imagen .imagen_tipo_7 { 
        width: 270px; 
        height: 80px;
    }

    .figure {
        font-size: 10px;
        text-align: center
    }

    .tabla td, .tabla th {
        font-size: 12px;
    }

    #ejemplo_ancho {
        font-size: 12px;
    }

    .caja {
        font-size: 12px;
    }

    pre.nota span {
        font-size: 10px;
    }

    .container__articulo-imagen {
        padding-block: 20px; 
    }

    .ejemplo, .ejemplo2 {
        flex-direction: column;
    }

}

/*TODO: Entre 375px y 424px */
@media screen and (min-width: 375px) and (max-width: 424px) {

    main {
        width: 100%;
    }

    .body {
        display: flex;
        flex-direction:column;
    }

    .container {
        width: 100%;
        box-sizing: border-box;

        margin: 0;
        padding: 30px 30px 30px 70px;
    }
    
    .margen_50 {
        margin-left: 40px;
    }

    ul.margen_50 {
        padding-left: 30px;
    }

    .margen_50.caso_wrap {
        margin-left: 20px;
    }

    .margen_50.caso_justify{
        padding-left: 20px;
    }

    .tema > img {
        width: 80px;
        height: 80px;
    }

    .tema__informacion > h3 {
        font-size: 24px;
    }
    
    .tema__informacion > span {
        font-size: 14px;
    }

    .container__articulo > h3 {
        margin-top: 30px;
    }

    .container__articulo > p {
        font-size: 12px;
    }

    .container__articulo > ul > li > strong {
        font-size: 16px;
    }
    
    .container__articulo > ul > li > p {
        font-size: 12px;
    }

    .articulos-relacionados > a {
        margin-right: 0;
    }

    .articulos-relacionados > a > h3 {
        font-size: 16px;
    }

    .articulos-relacionados > a > p{
        font-size: 12px;
    }

    .nota > p { 
        font-size: 12px;
    }
    
    .nota > p > strong { 
        font-size: 12px;
    }

    .container__articulo-imagen > img {
        width: 300px; 
        height:100px;
    }

    .container__articulo-imagen .imagen_tipo_1 {
        width: 250px; 
        height: 200px;
    }
    
    .container__articulo-imagen .imagen_tipo_3 { 
        width: 270px; 
        height: 170px;
    }

    .container__articulo-imagen .imagen_tipo_4 { 
        width: 300px; 
        height: 200px;
    }

    .container__articulo-imagen .imagen_tipo_6 { 
        width: 320px; 
        height: 120px;
    }
    
    .container__articulo-imagen .imagen_tipo_7 { 
        width: 270px; 
        height: 80px;
    }

    .figure {
        font-size: 10px;
        text-align: center
    }

    .tabla td, .tabla th {
        font-size: 12px;
    }

    #ejemplo_ancho {
        font-size: 12px;
    }

    .caja {
        font-size: 12px;
    }

    pre.nota span {
        font-size: 10px;
    }

    .container__articulo-imagen {
        padding-block: 20px; 
    }

    .ejemplo, .ejemplo2 {
        flex-direction: column;
    }

    .caso_especial {
        font-size: 10px;
    }

    .caso_especial2 > span{
        font-size: 6px !important; 
    }

    .caja_transition:hover {
        width: 230px;
    }

}