
:root {
    --letraCodigo: #5C5C5C;
    --inputFondo: #2B2B2B;
}

body.darkmode > main >  .container__contacto {
    background-color: var(--negro);
}

body.darkmode > main > .container__contacto > .contacto > h2 {
    color: var(--turqueza);
}

body.darkmode > main > .container__contacto > .contacto > p {
    color: var(--blanco);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > input:focus{ 
    outline: 1px solid var(--turqueza);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > input{ 
    border-bottom: 3px solid var(--turqueza);
    color: var(--blanco);
    background-color: var(--inputFondo);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > input::placeholder{ 
    color: var(--blanco)
}

body.darkmode > main > .container__contacto > .contacto > .formulario > textarea:focus{ 
    outline: 1px solid var(--turqueza);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > textarea{ 
    border-bottom: 3px solid var(--turqueza);
    background-color: var(--inputFondo);
    color: var(--blanco);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > textarea::placeholder{ 
    color: var(--blanco);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > .formulario__control > input:focus{ 
    outline: 1px solid var(--turqueza);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > .formulario__control > input{ 
    border-bottom: 3px solid var(--turqueza);
    background-color: var(--inputFondo);
    color: var(--blanco);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > .formulario__control > input::placeholder{ 
    color: var(--blanco);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > #boton{ 
    color: var(--turqueza);
    background: var(--negro);
    border: 1px solid var(--turqueza);
}

body.darkmode > main > .container__contacto > .contacto > .formulario > #boton:hover{ 
    color: var(--blanco);
    background: var(--turqueza);
}



main {
    display: flex;
    flex-direction: row;
}

.container__contacto {
    width: 70%;
    height: auto;
    /* margin-left: 80px; */
    padding: 20px 0px;
    padding-left: 80px;
    background-color: var(--blancopuro);
}

.container__mapa {
    height: auto;
}

.container__mapa > iframe {
    height: 100%;
}

.contacto {
    box-sizing: border-box;
    position: relative;
    width: 100%;

    /* left: 80px; */

    display: flex;
    flex-direction: column;

    color: var(--letraCodigo);
}

code {
    position: relative;
    font-size: 20px;
}

/*? Para el 'html' */
.contacto > code:nth-child(1){
    left: 0px;
}

/*? Para el 'body' */
.contacto > code:nth-child(2), code:nth-child(12){
    left: 10px;
    
    padding: 10px 0px;
}

/*? Para el 'h2' */
.contacto > code:nth-child(3), code:nth-child(5){
    left: 20px;
    
    padding: 10px 0px;
}

.contacto > h2 {
    position: relative;
    left: 30px;

    font-family: 'Righteous';
    font-size: 48px;
    
    color: var(--rosado);
}

/*? Para el 'p' */
.contacto > code:nth-child(6), code:nth-child(8){
    left: 20px;
    
    padding: 10px 0px;
}

.contacto > p {
    position: relative;
    left: 30px;

    font-family: 'Righteous';
    font-size: 14px;

    color: var(--negro);
}

/*? Para el 'form' */
.contacto > code:nth-child(9), code:nth-child(11){
    left: 20px;
    padding: 10px 0px;
}

input, textarea {
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Courier Prime', monospace;

    background-color: var(--blanco);
    color: var(--negro);
    
    border: none;
    border-bottom: 3px solid var(--rosado);

    margin: 0px 0px;
}

textarea {
    padding-top: 10px;
}

input::placeholder, textarea::placeholder {
    color: var(--negro);
}

input:focus, textarea:focus{ 
    outline: 1px solid var(--rosado);
}

.formulario {
    display: flex;
    flex-direction: column;

    position: relative;
    /* left: 30px; */
}

.formulario__control {
    display: flex;
    /* flex-direction: row; */
    
    margin: 5px 20px;
}

.formulario > .formulario__control > input{
    /* width: 240px; */
    width: 50%;
    height: 50px;
}

.formulario > .formulario__control > input:nth-child(1){
    margin-right: 5px;
}

.formulario > input, textarea{
    /*width: 505px*/
    width: auto;
    margin: 5px 20px;
}

.formulario > input {
    height: 50px;
}

.formulario > textarea {
    height: 100px;
}

#boton {
    padding: 0;
    
    text-align: center;

    width: 210px;
    height: 50px;
    
    background: var(--blanco);

    color: var(--rosado);

    border: 1px solid var(--rosado);
    margin: 15px 0 10px 20px;

    cursor: pointer;
}

#boton:hover {
    color: var(--blanco);
    background-color: var(--rosado);
    transition: .5s ease;
}


/*TODO: Entre 1024px y 1200px */
@media screen and (min-width: 1024px) and (max-width: 1200px) {

    .contacto > p {
        font-size: 13px;
    }

    .contacto > h2 {
        font-size: 44px;
    }

}

/*TODO: Entre 768px y 1023x */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    main {
        flex-direction: column;
    }

    .container__contacto {
        width: 80%;
    }

    .container__mapa {
        padding-left: 70px;
        height: 800px;
    }

    iframe {
        margin-top: 20px; 
        width: 100%;
    }

    code {
        width: 100px;
    }

    .contacto > h2 {
        width: 300px;
    }

}

/*TODO: Entre 579px y 767px */
@media screen and (min-width: 579px) and (max-width: 767px) {

    main {
        flex-direction: column;
    }

    .container__contacto {
        width: 80%;
    }

    .container__mapa {
        padding-left: 70px;
        height: 800px;
    }

    iframe {
        margin-top: 20px; 
        width: 100%;
    }

    code {
        width: 100px;
    }

    .contacto > h2 {
        width: 300px;
    }

}

/*TODO: Entre 425px y 578px */ 
@media screen and (min-width: 425px) and (max-width: 578px) {

    main {
        flex-direction: column;
    }

    .container__contacto {
        width: 80%;
    }

    .container__mapa {
        padding-left: 70px;
        height: 800px;
    }

    iframe {
        margin-top: 20px; 
        width: 100%;
    }

    code {
        width: 100px;
        font-size: 16px;
    }

    input, textarea {
        font-size: 14px;
    }

    .formulario > .formulario__control > input{
        height: 40px;
    }
    
    .formulario > input{
        height: 40px;
    }

    .contacto > h2 {
        width: 300px;
        font-size: 40px;
    }

    .contacto > p {
        font-size: 12px;
        width: 90%;
    }
    
    #boton {
        width: 150px;
        height: 40px;
    }

}

/*TODO: Entre 375px y 424px */
@media screen and (min-width: 375px) and (max-width: 424px) {

    main {
        flex-direction: column;
    }

    .container__contacto {
        width: 80%;
        padding-left: 60px;
    }

    .container__mapa {
        padding-left: 70px;
        height: 800px;
    }

    iframe {
        margin-top: 20px; 
        width: 100%;
    }

    code {
        width: 100px;
        font-size: 16px;
    }

    input, textarea {
        font-size: 14px;
    }

    .formulario > .formulario__control > input{
        height: 40px;
    }
    
    .formulario > input{
        height: 40px;
    }

    .contacto > h2 {
        width: 220px;
        font-size: 36px;
    }

    .contacto > p {
        font-size: 12px;
        width: 80%;
    }
    
    #boton {
        width: 150px;
        height: 40px;
    }

}

/*TODO: Entre 320px y 374px */
@media screen and (min-width: 320px) and (max-width: 374px) {
    
    main {
        flex-direction: column;
    }

    .container__contacto {
        width: 80%;
        padding-left: 60px;
    }

    .container__mapa {
        padding-left: 60px; /*320px*/
        height: 800px;
    }

    iframe {
        margin-top: 20px; 
        width: 100%;
    }

    code {
        width: 100px;
        font-size: 16px;
    }

    input, textarea {
        font-size: 14px;
    }

    .formulario > .formulario__control > input{
        height: 40px;
    }
    
    .formulario > input{
        height: 40px;
    }

    .contacto > h2 { 
        width: 220px;
        font-size: 30px; /*320px*/
    }

    .contacto > p {
        font-size: 12px;
        width: 80%;
    }
    
    #boton {
        width: 150px;
        height: 40px;
    }
}
