body.darkmode>main>.container>.map>.container__map>.adorno>.adorno-1 {
    background: var(--turqueza);
}

body.darkmode>main>.container>.map>.container__map>.adorno>.adorno-2 {
    background: var(--rosadoBajo);
}

body.darkmode>main>.container>.map h3 {
    color: var(--blanco);
}

body.darkmode>main>.container>.map span {
    color: var(--turquezaBajo);
}

body.darkmode>main>.container>.map span:hover {
    color: var(--turqueza);
}

body.darkmode>main>.container>.map p {
    color: var(--blanco);
}

body.darkmode>main>.container>.contenedor_habilidades>.habilidades span {
    color: var(--turquezaBajo);
}

body.darkmode>main>.container>.contenedor_habilidades>.habilidades>span:hover {
    color: var(--turqueza);
}


.container {
    position: relative;
    /* box-sizing: border-box; */
    /* width: 100%; */

    /* margin: 30px 0 30px 0px; */

    margin: 30px;
    padding-left: 70px;

    color: var(--negro);
    
    display: flex;
    justify-content: space-between;
    /* flex-direction:column; */
}

.adorno {
    /* position: absolute; */
    z-index: 3;
}

.adorno-1,
.adorno-2 {
    position: absolute;
    width: 100px;
    height: 100px;

    border-radius: 30px;
    transform: matrix(-0.86, -0.48, 0.52, -0.87, 0, 0);
}

.adorno-1 {
    left: 0px;
    top: -140px;

    background: var(--rosadoBajo);
}

.adorno-2 {
    left: 5px;
    top: -120px;

    background: var(--turqueza);
}


/*! Contenedor del map */
.container__map {
    position: relative;
}

.container__map>h3 {
    font-family: 'Righteous', cursive;
    font-size: 64px;

    margin-top: 160px;
    margin-bottom: 10px;
}

.container__map>h3>span {
    color: var(--rosadoBajo);
}

.container__map>h3>span:hover {
    color: var(--rosado);
    cursor: pointer;
}

.container__map>p {
    font-family: 'Righteous', cursive;
    font-size: 24px;
}

.contenedor_habilidades {
    width: 600px; 
    height: 350px;
}


/*! Habilidades */
.habilidades {
    color: var(--rosadoBajo);
    position: relative;
}

.habilidades>.lugar-2,
.lugar-4,
.lugar-6,
.lugar-8,
.lugar-10 {
    position: absolute;
    font-size: 48px;

    font-family: 'Righteous';
    line-height: 60px;
}

.habilidades>.lugar-1,
.lugar-3,
.lugar-5,
.lugar-7,
.lugar-9,
.lugar-11,
.lugar-13 {
    position: absolute;
    font-size: 24px;

    font-family: 'Righteous';
    line-height: 60px;
}

.habilidades>span:hover {
    color: var(--rosado);
    cursor: pointer;
}

.habilidades>.lugar-1 {
    left: 100px;
    top: 20px;
}

.habilidades>.lugar-2 {
    left: 150px;
    top: 80px;
}

.habilidades>.lugar-3 {
    left: 450px;
    top: 160px;
}

.habilidades>.lugar-4 {
    left: 330px;
    top: 250px;
}

.habilidades>.lugar-5 {
    left: 200px;
    top: 230px
}

.habilidades>.lugar-6 {
    left: 220px;
    top: 170px;
}

.habilidades>.lugar-7 {
    left: 90px;
    top: 160px;
}

.habilidades>.lugar-8 {
    left: 100px;
    top: 60px;
}

.habilidades>.lugar-9 {
    left: 320px;
    top: 80px;
}

.habilidades>.lugar-10 {
    left: 450px;
    top: 20px;
}

.habilidades>.lugar-11 {
    left: 270px;
    top: 20px;
}

.habilidades>.lugar-13 {
    left: 120px;
    top: 230px;
}


/*TODO: Entre 768px y 1023x */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container {
        flex-direction: column;
    }

    .map {
        display: flex;

        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .container__map {
        width: 380px;
    }

    .contenedor_habilidades {
        padding-top: 50px;
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .habilidades {
        width: 650px;
        height: 300px;
    }

    .adorno-1 {
        left: 0px;
        top: 20px;

        background: var(--rosadoBajo);
    }

    .adorno-2 {
        left: 5px;
        top: 40px;

        background: var(--turqueza);
    }

}

/*TODO: Entre 425px y 578px */ 
@media screen and (min-width: 425px) and (max-width: 578px) {
    
    .container {
        flex-direction: column;

        margin: 0px;
        padding-left: 0px;
        padding-top: 20px;
    }

    .container__map>h3 {
        font-size: 50px;
    }

    .container__map>p {
        font-size: 16px;
    }

    .map {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .container__map {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 25px;
    }

    .contenedor_habilidades {
        
        width: 100%;
        height: auto;

        padding-top: 20px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .adorno-1 {
        left: 0px;
        top: 20px;

        background: var(--rosadoBajo);
    }

    .adorno-2 {
        left: 5px;
        top: 40px;

        background: var(--turqueza);
    }

    .habilidades {
        width: 100%;
        height: 300px;

        box-sizing: border-box;
        padding-inline: 60px;
    }

    .habilidades>.lugar-2,
    .lugar-4,
    .lugar-6,
    .lugar-8,
    .lugar-10 {
        font-size: 38px;
    }

    .habilidades>.lugar-1,
    .lugar-3,
    .lugar-5,
    .lugar-7,
    .lugar-9,
    .lugar-11,
    .lugar-13 {
        font-size: 20px;
    }

    .habilidades>.lugar-1 {
        left: 70px;
        top: 20px;
    }

    .habilidades>.lugar-2 {
        left: 80px;
        top: 80px;
    }

    .habilidades>.lugar-3 {
        left: 300px;
        top: 160px;
    }

    .habilidades>.lugar-4 {
        left: 170px;
        top: 230px;
    }

    .habilidades>.lugar-5 {
        left: 110px;
        top: 190px
    }

    .habilidades>.lugar-6 {
        left: 140px;
        top: 140px;
    }

    .habilidades>.lugar-7 {
        left: 80px;
        top: 160px;
    }

    .habilidades>.lugar-8 {
        left: 50px;
        top: 60px;
    }

    .habilidades>.lugar-9 {
        left: 230px;
        top: 80px;
    }

    .habilidades>.lugar-10 {
        left: 300px;
        top: 20px;
    }

    .habilidades>.lugar-11 {
        left: 170px;
        top: 20px;
    }

    .habilidades>.lugar-13 {
        left: 80px;
        top: 230px;
    }

}

/*TODO: Entre 375px y 424px */
@media screen and (min-width: 375px) and (max-width: 424px) {
    
    .container {
        flex-direction: column;

        margin: 0px;
        padding-left: 0px;
        padding-top: 20px;
    }

    .container__map>h3 {
        font-size: 36px; /*Cambio*/
    }

    .container__map>p {
        font-size: 12px; /*Cambio*/
    }

    .map {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .container__map {
        display: flex;
        flex-direction: column;
        width: 250px;/*Cambio*/
        margin-left: 60px; /*Cambio*/
    }

    .contenedor_habilidades {
        
        width: 100%;
        height: auto;

        padding-top: 20px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .adorno-1 {
        left: 0px;
        top: 20px;

        background: var(--rosadoBajo);
    }

    .adorno-2 {
        left: 5px;
        top: 40px;

        background: var(--turqueza);
    }

    .habilidades {
        width: 100%;
        height: 300px;

        box-sizing: border-box;
        padding-inline: 60px;
    }

    .habilidades>.lugar-2,
    .lugar-4,
    .lugar-6,
    .lugar-8,
    .lugar-10 {
        font-size: 30px; /*Cambio*/
    }

    .habilidades>.lugar-1,
    .lugar-3,
    .lugar-5,
    .lugar-7,
    .lugar-9,
    .lugar-11,
    .lugar-13 {
        font-size: 14px;
    }

    .habilidades>.lugar-1 {
        left: 70px;
        top: 20px;
    }

    .habilidades>.lugar-2 {
        left: 80px;
        top: 80px;
    }

    .habilidades>.lugar-3 {
        left: 270px; /*Cambio*/
        top: 160px;
    }

    .habilidades>.lugar-4 {
        left: 140px; /*Cambio*/
        top: 230px;
    }

    .habilidades>.lugar-5 {
        left: 110px;
        top: 190px
    }

    .habilidades>.lugar-6 {
        left: 140px;
        top: 140px;
    }

    .habilidades>.lugar-7 {
        left: 80px;
        top: 160px;
    }

    .habilidades>.lugar-8 {
        left: 50px;
        top: 60px;
    }

    .habilidades>.lugar-9 {
        left: 230px;
        top: 80px;
    }

    .habilidades>.lugar-10 {
        left: 270px; /*Cambio*/
        top: 20px;
    }

    .habilidades>.lugar-11 {
        left: 170px;
        top: 20px;
    }

    .habilidades>.lugar-13 {
        left: 80px;
        top: 230px;
    }

}

/*TODO: Entre 320px y 374px */
@media screen and (min-width: 320px) and (max-width: 374px) {
    
    .container {
        flex-direction: column;

        margin: 0px;
        padding-left: 0px;
        padding-top: 20px;
    }

    .container__map>h3 {
        font-size: 36px; /*Cambio*/
    }

    .container__map>p {
        font-size: 12px; /*Cambio*/
    }

    .map {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .container__map {
        display: flex;
        flex-direction: column;
        width: 250px;/*Cambio*/
        margin-left: 60px; /*Cambio*/
    }

    .contenedor_habilidades {
        
        width: 100%;
        height: auto;

        padding-top: 20px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .adorno-1 {
        left: 0px;
        top: 20px;

        background: var(--rosadoBajo);
    }

    .adorno-2 {
        left: 5px;
        top: 40px;

        background: var(--turqueza);
    }

    .habilidades {
        width: 100%;
        height: 300px;

        box-sizing: border-box;
        padding-inline: 60px;
    }

    .habilidades>.lugar-2,
    .lugar-4,
    .lugar-6,
    .lugar-8,
    .lugar-10 {
        font-size: 30px; /*Cambio*/
    }

    .habilidades>.lugar-1,
    .lugar-3,
    .lugar-5,
    .lugar-7,
    .lugar-9,
    .lugar-11,
    .lugar-13 {
        font-size: 14px;
    }

    .habilidades>.lugar-1 {
        left: 70px;
        top: 20px;
    }

    .habilidades>.lugar-2 {
        left: 80px;
        top: 80px;
    }

    .habilidades>.lugar-3 {
        left: 270px; /*Cambio*/
        top: 160px;
    }

    .habilidades>.lugar-4 {
        left: 140px; /*Cambio*/
        top: 230px;
    }

    .habilidades>.lugar-5 {
        left: 110px;
        top: 190px
    }

    .habilidades>.lugar-6 {
        left: 140px;
        top: 140px;
    }

    .habilidades>.lugar-7 {
        left: 80px;
        top: 160px;
    }

    .habilidades>.lugar-8 {
        left: 50px;
        top: 60px;
    }

    .habilidades>.lugar-9 {
        left: 230px;
        top: 80px;
    }

    .habilidades>.lugar-10 {
        left: 270px; /*Cambio*/
        top: 20px;
    }

    .habilidades>.lugar-11 {
        left: 170px;
        top: 20px;
    }

    .habilidades>.lugar-13 {
        left: 80px;
        top: 230px;
    }

}